a {
  display: block;
  font-size: 16px;
  margin: 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  width: 400px;
}

a:before {
  background: rgb(80,150,220);
  border-radius: 3px;
  content:"";
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  position: relative;
  vertical-align: middle;
  width: 30px;
}

body {
  font-family: 'Arial';
}

h1 {
  color: #555;

}

.core, .non, .supporting {
  border-radius: 3px;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, .2);
  display: inline-block;
  margin: 0px 5px;
  padding: 0px 8px;
  vertical-align: top;
}

.core a, .core h3 {
  color: #66bb6a;
}

.core a:hover {
  color: #2e7d32;
}

.core a:before {
  background: #66bb6a;
}

.core a:hover:before {
  background: #2e7d32;
}

.flex-column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.non a, .non h3 {
  color: #ab47bc;
}

.non a:hover {
  color: #6a1b9a;
}

.non a:before {
  background: #ab47bc;
}

.non a:hover:before {
  background: #6a1b9a;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.supporting a, .supporting h3 {
  color: #42a5f5;
}

.supporting a:hover {
  color: #1565c0;
}

.supporting a:before {
  background: #42a5f5;
}

.supporting a:hover:before {
  background: #1565c0;
}
